body {
    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
    background-image: url("Screenshot (76).png");
    background-repeat: repeat-x; 
    color: rgb(255, 255, 255);
    display: flex;        
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin:20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgba(45, 40, 40, 0.784);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    background-color: rgb(172, 173, 173);

}
.cityInput:hover{
    background-color:rgb(167, 176, 206);
    transition:cubic-bezier(0.55, 0.055, 0.675, 0.19)
}
button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(228, 207, 175);
    text-shadow: 0.5px 0.5px;
    border-radius: 5px;
    
}
button[type="submit"]:hover{
    background-color: aquamarine;
    cursor: pointer;
    transition: all 0.5s ease;
}

.card{
    background: linear-gradient(125deg,rgb(96, 136, 187), rgb(238, 213, 50));
    padding: 50px;
    box-shadow: 4px 4px 4px rgb(164, 131, 131);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover{
    background: linear-gradient(125deg,rgb(96, 136, 200), rgb(238, 213, 100));
    transition: background 0.2s ease;

}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 26px;
}
p{
    font-size: 1.8rem;
    margin: 20px;
}
.CityDisplay, .tempDisplay{
    font-size: 3.5rem;
    color: rgb(56, 53, 18);
    margin-bottom: 20px;
}
.HumidityDisplay{
    color: rgb(219, 204, 204);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.descDisplay{
    color: rgb(23, 10, 10);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight:600;
}
.WeatherEmoji{
    font-size: 6.5rem;
    text-shadow: 5px 5px 8px black;
    margin: 4px;
}
.errorDisplay{
    font-size: 1.5rem;
    font-style: inherit;
    color: black;
}